*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: grid;
    grid-template-columns: 15vw 15vw 15vw 15vw 15vw 15vw; 
    justify-content: center;
    grid-gap: 1vw;
    align-content: start;
}

.container-flex{
    display: flex;
    align-self: flex-end;
}
.grid-item1{
    grid-column: 3 / span 4;
}
.grid-item2{
    grid-column:span 6;
}
h1{
    grid-column: span 6;
    color: #3a3a3a;
    font-size: 20;
    padding-top: 15vh;
}

.container p{
    font-size: 14;
    color: #707070;
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center; 
    padding-top: 0.4px;
}
#hr{
    display: hidden;
} 

#logo{
    grid-column: 3/5;
}
#logo img{
    width: 30vw;
}

nav{
    grid-column: span 6;
    height: 5vh;
    padding-bottom: 1vh;
}
nav ul li{
    display: inline;
    list-style: none;
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12;
}
nav ul li a{
    text-decoration: none;
    color: #707070;
    padding-right: 4vw;
    padding-left: 4vw;
}

header{
    width: 100vw;
    height: 13vh;
    position: fixed;
    background-color: #F6F6F8;
}
section div{
    grid-column: span 6;
}
h1{
    grid-column: span 6;
    line-height: 30px;
    color: #707070; 
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16;
    margin-bottom: 5vh;
}
h2{
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(112 112 112);
    margin-bottom: 4vh;
}
h3{
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(112 112 112);
}
#sobre{
    padding-top: 15vh;
    padding-top: 2.5vh;
    letter-spacing: 1px;
    line-height: 20px; 
}
#sobre div div div{
    float: left;
    border: 1px solid rgb(133, 133, 133);
    width: 60%;
    align-self: flex-end;
}
#sobre div div img{
    border: black 1px solid;
    align-self: flex-end;
    float: left;
    width: 0%;
    border: 1px solid rgb(133, 133, 133); 
 
}
#sobre div p{
    line-height: 3vh;
    padding: 1vh;
    height:15vh;
    text-indent: 20px;
    text-align: center;
}
#cursos{
    width:100%;
    padding: 2vh; 
}
#cursos div h2{  
    margin-top:1vh;
    padding:2vh 0 2vh 0;
    background-color:#ddd;
    text-align: Center;
}
#curso-wd{
    border-top: solid 7px green;
}

#curso-h2{
    background-color: #F6F6F8;
    text-align: center;
    padding: 2vh;
}
#curso-prog{
    border-top: 7px solid rgb( 254 34 34); 
}
#curso-bd{
    border-top: 7px solid rgb(70 50 253);
}

#blueboard {
    height: 35px;
    border-left: 7px solid rgb(70 50 253);
}
#redboard{
    height: 35px;
    border-left: 7px solid rgb( 254 34 34); 
}
#greenboard{
    height: 35px;
    border-left: 7px solid rgb(9 136 9);
}
#yellowboard{
    height: 35px;
    border-left: 7px solid rgb(245 251 48);
}
#pinkboard{
    height: 35px;
    border-left: 7px solid rgb(246 50 253);
}
#lightblueboard{ 
    height: 35px;
    border-left: 7px solid rgb(50 197 253);
} 
#paragrafo{ 
    display: none;
} 
.tipo-plano{
    border: 1px solid rgb(161 157 157);
    text-align: center;
    background-color: rgb(238 232 232);
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#planos p{
    font-size: 30px;
    line-height: 50px;
    background-color: #ffff;
}
#planos-bronze{
    background-color: rgb(197 155 18);
    padding: 2vh;
}
#planos-prata{
    background-color: rgb(247 240 241);
    padding: 2vh;
}
#planos-ouro{
    background-color: rgb(241 241 21);
    padding: 2vh;
}
@media only screen and (min-width: 980px){
    #logo{
        grid-column: 1/2;
    }
    #logo img{
        width: 10vw;
    }
    nav{
        padding-top: 2vw;
        grid-column: 3/6;
        text-align: center;
    }
    header{
        height: 12vh;
        padding-top: 0.5vw;
    }
    section div{
        grid-column: span 2;
    }
    #sobre div{
        grid-column: span 3;
        padding-bottom: 10px;
    }
    .container-curso{
        padding-top: 30vw;
    }
    #curso{
        display:flex;
    }
    #cursos div{
        align-self: flex-end;
        width: 65%;
    }

    #planos{
        display:flex;
    }
    #planos div{
        align-self: flex-end;
        width: 30%;
    }
    #planos p{
        font-size: 25px;
        line-height: 50px;
        background-color: #ffff;
    }
    #planos-bronze{
        background-color: rgb(197 155 18);
        padding: 2vh;
    }
    #planos-prata{
        background-color: rgb(247 240 241);
        padding: 2vh;
    }
    #planos-ouro{
        background-color: rgb(241 241 21);
        padding: 2vh;
    }
    .tipo-plano{
        border: 1px solid rgb(161 157 157);
        text-align: center;
        background-color: rgb(238 232 232);
        font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    #planos div{
        grid-column: 2/ span 4;
        margin-top: 0%;
    }
    .contratar{
        text-align: center;
        margin-top: 10px;
        border: 1px solid rgb(161 157 157);
        background-color: rgb(238 232 232);
        width: 30%;
    }
    
    #valores div{
        grid: 2/ span 4;
        margin-top: 5%;
        margin-bottom: 3%;
        
    }
    #valores p{
        margin-right: 10%;
        font-size: 20px;
        background-color: #fff;
    }
    #valoresflex-container {
        display: flex;
        flex-wrap: wrap-reverse;
    }
    #blueboard{
        height: 35px;
        border-left: 7px solid rgb(70 50 253);
    }
    #redboard{
        height: 35px;
        border-left: 7px solid rgb( 254 34 34); 
    }
    #greenboard{
        height: 35px;
        border-left: 7px solid rgb(9 136 9);
    }
    #yellowboard{
        height: 35px;
        border-left: 7px solid rgb(245 251 48);
    }
    #pinkboard{
        height: 35px;
        border-left: 7px solid rgb(246 50 253);
    }
    #lightblueboard{ 
        height: 35px;
        border-left: 7px solid rgb(50 197 253);
    } 
    #paragrafo{ 
        display: block;
    } 
    #cursos div h2{  
        background-color:#ddd;
        text-align: Center;
        width: 20vw;
        border-top: 10px;
    }
    #hr{
        display:block;
    }
    footer{
        padding-bottom: 15vw;
    }
    
}